{{list-playlists clickPlaylist="clickPlaylist" selectedPlaylist=model.selectedPlaylist listPlaylists=model.playlists}}

{{list-musics clickTrack="clickTrack" listTracks=model.listTracks}}

<div class="col-lg-4">
  {{track-view}}
</div>
{{outlet}}
