.btn-circle.btn-xl,.btn-circle.btn-sm,.btn.btn-default.btn-circle {
  outline: none;
}

.mainLoading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100vh;
	background: rgba(255,255,255,0.8);
	z-index: 9999;
}

.mainLoading .bloc {
	position: fixed;
	top:50%;
	left: 50%;
	margin-left: -90px;
	margin-top: -90px;
	width: 120px;
	padding: 30px 10px 25px;
	background: #E1E1E1;
	opacity: 0.9;
	z-index: 10000;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}

#wrapper #page-wrapper {
  padding: 0;
}

.search-block {
  overflow-y: hidden;
  height: 512px;
  max-height: 512px;
  -webkit-transition-property: all;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -moz-transition-property: all;
  -moz-transition-duration: .5s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -ms-transition-property: all;
  -ms-transition-duration: .5s;
  -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.search-block.full {
  max-height: 512px;
  overflow-y: scroll;
}

.search-block.compact {
  max-height: 168px;
}
