<div class="table-responsive">
  <table class="table table-striped">
      <thead>
          <tr>
              <th></th>
              <th>#</th>
              <th>Title</th>
              <th>Artist</th>
              <th>Actions</th>
              <th>Duration</th>
          </tr>
      </thead>
      <tbody>
          {{#each displayedTracksList as |track|}}
            {{track-item clickTrack="clickTrack" model=track}}
            {{else}}
              <img src="/img/loading.gif" alt="Loading..." width="80" height="80" />
            {{/each}}
      </tbody>
  </table>
</div>
