{{#if search.isLoading}}
  <img src="/img/loading.gif" alt="Loading..." width="80" height="80" />
{{else}}
  {{#each search.listSearchResultsDisplayed as |track|}}
    {{search-item model=track}}
  {{else}}
    <h3>No result found</h3>
  {{/each}}
{{/if}}
