<div {{action "click"  model}} style="float: left;margin: 11px;width: 180px;height: 222px;overflow: hidden;border: 1px solid silver;border-radius: 15px;">
  <img src="{{model.thumbnail}}" alt="album-art" width=180 height=180 />
  <p style="padding: 4px 10px 0;font-size:12px;">{{model.name}}</p>
</div>
