<div {{action "click"  model}} style="position:relative;background: url('{{model.thumbnail}}'); float: left;margin: 11px;width: 150px;height: 150px;overflow: hidden;border: 1px solid silver;border-radius: 15px;">
  <p style="width:100%;padding: 5px 10px 5px;font-size:12px;position: absolute;bottom: 0px;background: black;opacity: 0.8;color: white;font-weight: bold;margin: 0;">{{model.name}}</p>
</div>
