<div class="col-lg-4" style="display:inline-block;position: relative;top: 12px;">
  <div class="input-group custom-search-form">
    {{input class="form-control" placeholder="Search..." value=searchString enter="searchUpdate"}}
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
          <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</div>
