<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" {{action "click"}}>
        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages">
        {{#each slavesList as |slave|}}
          {{slaves-dropdown-item model=slave}}
        {{/each}}
        <li>
            <a class="text-center" href="#">
                <strong>See more details</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</li>
