<a {{action "clickTrackItem" model}} class="{{if model.isActive 'active'}} list-group-item">
    <i class="fa fa-tasks fa-fw"></i> {{model.name}}
    <span class="pull-right text-muted small"><em>{{model.duration}}</em>
    </span>
</a>
